<%- include("partials/header.ejs") %>

<body>

<h1> Quote Finder </h1>
<form action="/searchByKeyword">
    Keyword:
    <input type="text" name="keyword">
    <button>Search by Keyword</button>
</form>
<br>
<form action="/searchByAuthor">
    <select name="authorId">
    <% for (author of authors){ %>
        <option value="<%=author.authorID%>">
            <%=author.firstName%> <%=author.lastName%>
        </option>
    <% } %>
    </select>
    <button>Search by Author</button>
</form>
<br>

</body>
<%- include("partials/footer.ejs") %>

